---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Us | Macomb County Realty" description="Learn about our family-owned real estate business.">
    
    <main class="your-css-classes">
        <h1>About Macomb County Realty</h1>
        <p>We are a father and son team...</p>
    </main>

    

</Layout>