---
// src/layouts/Layout.astro
import '../styles/style.css'; 

// 1. Import your new components
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <meta name="description" content={description}>
    <meta name="google-site-verification" content="HYNt5l9Bc9XiCV2Ansre_5DuBtzeCcMI966aakzMfCg" />
    
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="shortcut icon" href="/favicon/favicon.ico">

    <!-- Google tag (gtag.js) -->
    <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-KKYC22CVDW"></script>
    <script is:inline>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        // This tracks the initial page load
        gtag('config', 'G-KKYC22CVDW');

        // This tracks subsequent page changes if you use Astro's ClientRouter
        document.addEventListener('astro:page-load', () => {
            gtag('config', 'G-KKYC22CVDW', {
                page_path: window.location.pathname
            });
        });
    </script>
    
</head>
<body>
    
    <Header />

    <slot />
    
    <Footer />

    <div id="image-modal" class="lightbox-modal" aria-hidden="true">
        <span class="lightbox-close" aria-label="Close overlay">&times;</span>
        <!-- <img class="lightbox-content" id="modal-img" src="" alt="" > -->
    </div>
</body>
</html>